// For screens bigger then tablet smaller then Laptop
@media only screen and (max-width: 1024px) {
    .green {
        display: none;
    }
}

// For screens 
@media only screen and (max-width: 768px) {
    .hide {
        display: none;
    }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  //border: 2px blue solid;
  margin: 0;

  #nav {
    padding: 30px;
    text-align: center;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #239B4D;
      }
    }
  }
}
html, body {
  //height: 100vh;

  .container-fluid {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    padding: 0%;
    //height: 100vh;

    .row {
      margin: 0%;
      width: 100%;
    }

    .content {
      background-color: #239B4D;
      padding: 20px;
    }
  }

  .green {
    background-color: #0C351A;
  }

  h1, h2, h3 {
    font-weight: bold;
  }

  .btn:active,
  .btn.active,
  .b-rating,
  .form-control.active,
  .form-control:active,
  .dropdown-item.active,
  .dropdown-item:active {
    outline: 0 !important;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }

  .fade-enter, .fade-leave-to {
    opacity: 0.1
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  .userForm {
    form {
      padding: 15px;
      outline: 0;

      .form-group,
      .form-row {
        margin-bottom: 30px;
      }

      .btn {
        margin-right: 15px;
      }
    }
  }
}