.contactUs {
    .title {
      text-align: center;
      margin-top: 30px;
    }
  
    .spacing {
      padding: 10px;
    }
  
    .jumbotron {
      padding: 15px;
      margin-top: 20px;
  
      .form-row {
        margin-bottom: 0px;
      }
    }
  }