.privacyPolicy {
    .title {
      text-align: center;
      margin-top: 30px;
    }
  
    .spacing {
      padding: 10px;
    }
  
    .jumbotron {
      padding: 15px;
  
      ol {
        margin: 0%;
  
        li {
          padding: 10px;
        }
      }
    }
  }