.restaurantCard {
    max-width: 300px;
    height: calc(100% - 30px);
    img {
      height: 150px;
    }
    .card {
      max-width: 250px;
      //height: inherit;
    }
    .card-body {
      padding: 5px;
      max-height: 250px;
      width: auto;
      margin: 0px;
      font-size: 12px;
      #name {
        font-weight: bold;
        font-size: 14px;
      }
      #address {
        font-size: 13px;
      }
    }
    a {
      color: black;
  
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
    .icon:hover {
      fill: green;
    }
  }